.banner {

  background-image:url('../images/court-prather-701624-unsplash.jpg');
  background-size:cover;
}

.about{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color:#F97300;
 margin: 2em;
}
.about img{
 height: 75%;
    width: 75%;
    border-radius: 50%
}

.about .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.about .desc h3{
 color: #10828C;
}
.about .desc p{
 line-height:2;
 color:#888;
}
.contact {
	margin-top: 2em;
}

h2.section {
    text-align: center;
}

[class*="col-"] {
    margin-top: 50px;
}

#project1 {
	padding: 2rem;
	margin-left: 1em;
	margin-right: 1em;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-envelope {
	color:#f44336;

}

.fa-github {
	color: black;
}
.fa-linkedin {
	color: #0077B5;
}